<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>Binokl'ART</title>
    <link rel="stylesheet" type="text/css" media="screen" href="accueil.css" />
  </head>

  <header>
    <img id="logo" src ="img/logo.png" aalt="logo"/>
    <h1>Binokl'ART</h1>
  </header>

  <body>
    <div id="container">

      <div class="divacc" id="solaire">
        <a class="liencat" href="lesite.fr/solaires" title="solaires">
          <p>SOLAIRES</p>
        </a>
        <img class="imgacc" src="img/solaire.jpg" alt="vour les lunettes solaires">
      </div>

      <div class="divacc" id="optique">
        <a class="liencat" href="lesite.fr/optiques" title="optiques">
          <p>OPTIQUES</p>
        </a>
        <img class="imgacc" src="img/optique.jpg" alt="vour les lunettes optiques">
      </div>

      <div class="divacc" id="toutes">
        <a class="liencat" id="lientoutes" href="lesite.fr/optiques" title="optiques">
          <p>VOIR TOUTES LES PAIRES</p>
        </a>
      </div>

    </div>
  </body>

  <footer>
    <p> </p>
    <a id="admin" href="lesite.fr/admin" title="admin"><p>ADMIN</p></a>
  </footer>
</html>
