/*------ HEADER -----*/
header {
  margin: auto;
  padding: 10px 10px 0px 10px;
  display: flex;
  text-align: center;
  justify-content: center;
}

header div {
  display: flex;
  align-items: center;
}

#logo {
  width: 80px;
  height: 80px;
  margin: 15px 20px 10px 0px;
}

h1 {
  font-family: verdana;
}

/*------ BODY -----*/
body {
    width: 100%;
    margin: auto;
    font-family: sans-serif;
    background-image: url("img/fond.png");
    background-attachment: fixed;
}

#container {
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(255, 255, 255, 0.6);
}

#solaire {
  position: relative;
  width: 45%;
  height: 45%;
  margin: 1% 0.5% 0 4%;
}

#optique {
  position: relative;
  width: 45%;
  height: 45%;
  margin: 1% 4% 0% 0.5%;
}

#toutes {
  position: relative;
  height: 100px;
  width: 100%;
  margin: 1% 5% 1% 4%;
  background-color: rgba(196, 10, 10, 0.8);
}

.imgacc {
  width: 100%;
  height: 100%;
}

.liencat {
  position: absolute;
  top: 50%;
  left: 38%;
  background-color: rgba(255, 255, 255, 0.8);
  font-family: sans-serif;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
  color: black;
  border-radius: 10px;
}

a.liencat:link {
  text-decoration: none;
}

a.liencat:hover {
  background-color: rgba(196, 10, 10, 0.8);
  color: white;
}

.liencat2 {
  background-color: rgba(255, 255, 255, 0.8);
  font-family: sans-serif;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
  color: black;
  border-radius: 10px;
}

a.liencat2:link {
  text-decoration: none;
}

a.liencat2:hover {
  background-color: rgba(196, 10, 10, 0.8);
  color: white;
}

#lientoutes {
  top: 25%;
  left: 39%;
}

a#lientoutes:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

/*------ FOOTER -----*/
footer {
    text-align: right;
    position: relative;
}

#admin {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 10%;
  right: 9.5%;
  font-size: 0.8em;
  color: white;
  padding-left: 20px;
  padding-right: 20px;

}

a#admin:link {
  text-decoration: none;
}

a#admin:hover {
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
}
