<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>Binokl'ART</title>
    <link rel="stylesheet" type="text/css" media="screen" href="accueil.css" />
  </head>

  <header>
    <img src ="img/logo.jpg" aalt="logo"/>
    <h1>Binokl'ART</h1>
  </header>

  <body>
    <div id="container">
      <div class="divacc" id="solaire">
        <a href="lesite.fr/solaires" title="solaires">
          <img class="imgacc" src="img/solaire.jpg" alt="vour les lunettes solaires">
        </a>
      </div>
      <div class="divacc" id="optique">
        <a href="lesite.fr/optiques" title="optiques">
          <img class="imgacc" src="img/optique.jpg" alt="vour les lunettes optiques">
        </a>
      </div>
      <div class="divacc" id="toutes">
        <a href="lesite.fr/optiques" title="optiques">
          <p>Voir toutes les paires</p>
        </a>
      </div>
    </div>
  </body>

  <footer>
    <a href="lesite.fr/optiques" title="optiques"><p>Optiques</p></a>
    <a href="lesite.fr/solaires" title="solaires"><p>Solaires</p></a>
  </footer>
</html>
