<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>Binokl'ART - Solaires</title>
    <link rel="stylesheet" type="text/css" media="screen" href="vuePaire.style.css" />
  </head>

  <header>
    <div>
      <img id="logo" src ="img/logo.png" aalt="logo"/>
      <h1>Binokl'ART</h1>
    </div>
  </header>

  <nav>
    <ul>
      <li><a class="lienNav" id="lienHome" href="" alt="Accueil"><img id="home" src="img/home.png" alt="home"/></a></li>
      <li><a class="lienNav" href="" alt="Solaires">LUNETTES DE SOLEIL</a></li>
      <li><a class="lienNav" href="" alt="Optiques">LUNETTES DE VUE</a></li>
    </ul>
  </nav>

  <body>
    <div id="alignement">
      <div class="paire">
        <p class="num">5</p>
        <p class="ref">Ray-Ban - Clubmaster</p>
      </div>

      <div id="boutons">
        <p> ajouter les boutons </p>
      </div>
    </div>
  </body>

</html>
