/*------ HEADER -----*/
header {
  margin: auto;
  padding: 10px 10px 0px 10px;
  display: flex;
  text-align: center;
  justify-content: center;
}

header div {
  display: flex;
  align-items: center;
}

#logo {
  width: 80px;
  height: 80px;
  margin: 15px 20px 10px 0px;
}

h1 {
  font-family: verdana;
}

/*------ NAV -----*/
nav {
  text-align: center;
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 9.5px;
  background-color: rgba(255, 255, 255, 0.6);
}

li {
  display: inline;
}

.lienNav {
  background-color: rgba(0, 0, 0, 0.6);
  font-size: 1em;
  color: white;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
  text-decoration: none;
}

#home {
  width: 15px;
  height: 15px;
}



#lienHome {
  padding-left: 80px;
  padding-right: 80px;
}

li a:hover {
  background-color: rgba(196, 10, 10, 0.8);
}

/*------ BODY -----*/
body {
    width: 100%;
    margin: auto;
    font-family: sans-serif;
    background-image: url("img/fond.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
}

#alignement{
  display: flex;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 10px;
  text-align: center;
  width: 30%;
  padding-top: 20px;
}

#haut {
  display: flex;
  flex-wrap: wrap;
}

#image {
  width: 100px;
  height: 100px;
}

h2 {
  font-size: 1.5em;
}
