<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>Binokl'ART - Solaires</title>
    <link rel="stylesheet" type="text/css" media="screen" href="solaires.css" />
  </head>

  <header>
    <img src ="img/logo.png" aalt="logo"/>
    <h1>Binokl'ART</h1>
  </header>

  <body>
    <div id="container">
      <div id="menu">


      </div>
    </div>
  </body>

  <footer>
    <a href="lesite.fr/optiques" title="optiques"><p>Optiques</p></a>
    <a href="lesite.fr/solaires" title="solaires"><p>Solaires</p></a>
  </footer>
</html>
