<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>Binokl'ART - Solaires</title>
    <link rel="stylesheet" type="text/css" media="screen" href="vueProduits.style.css" />
  </head>

  <header>
    <div>
      <img id="logo" src ="img/logo.png" aalt="logo"/>
      <h1>Binokl'ART</h1>
    </div>
  </header>

  <nav>
    <ul>
      <li><a class="lienNav" id="lienHome" href="" alt="Accueil"><img id="home" src="img/home.png" alt="home"/></a></li>
      <li><a class="lienNav" href="" alt="Solaires">LUNETTES DE SOLEIL</a></li>
      <li><a class="lienNav" href="" alt="Optiques">LUNETTES DE VUE</a></li>
    </ul>
  </nav>

  <body>
    <div id="container">
      <div id="menu">
        <div class="itemMenu">
          <p class="nomAttribut">Genre</p>
            <input class="attribut" type="checkbox" name="genre" value="homme"> Homme<br>
            <input class="attribut" type="checkbox" name="genre" value="femme"> Femme<br>
        </div>
        <div class="itemMenu">
          <p class="nomAttribut">Forme</p>
            <input class="attribut" type="checkbox" name="forme" value="ronde"> Ronde<br>
            <input class="attribut" type="checkbox" name="forme" value="ovale"> Ovale<br>
            <input class="attribut" type="checkbox" name="forme" value="rectangle"> Rectangle<br>
            <input class="attribut" type="checkbox" name="forme" value="aviateur"> Aviateur<br>
        </div>
        <div class="itemMenu">
          <p class="nomAttribut">Mati&egrave;re</p>
            <input class="attribut" type="checkbox" name="matiere" value="plastique"> Plastique<br>
            <input class="attribut" type="checkbox" name="matiere" value="metal"> M&eacute;tal<br>
        </div>
        <div class="itemMenu">
          <p class="nomAttribut">Couleur</p>
            <input class="attribut" type="checkbox" name="couleur" value="noir"> Noir<br>
            <input class="attribut" type="checkbox" name="couleur" value="marron"> Marron<br>
        </div>
        <div class="itemMenu">
          <p class="nomAttribut">Herv&eacute;</p>
            <input class="attribut" type="checkbox" name="herve" value="oui"> Approuv&eacute; par Herv&eacute;<br>
        </div>
      </div>
      <div id="partieDroite">
        <div id="entetePaires">
          <h2>LUNETTES DE SOLEIL</h2>
          <select>
            <option value="rien">Trier par</option>
            <option value="prix1">Prix - le moins cher</option>
            <option value="prix2">Prix - le plus cher</option>
            <option value="nom1">Nom - A-Z</option>
            <option value="nom2">Nom - Z-A</option>
          </select>
        </div>
        <div id="containerPaires">
      <!-- code d'apparition d'une paire html------------------------------------------->
          <div class="paires">
            <img src="img/paires/44.jpg" alt="logo"/>
            <a class="lienref"><p>Carrera - 113/S 003HD</p></a>
            <p class="prix">139&#128;</p>
          </div>
          <div class="paires">
            <img src="img/paires/5.jpg" alt="logo"/>
            <a class="lienref"><p>Ray-Ban - Clubmaster</p></a>
            <p class="prix">149&#128;</p>
          </div>
          <div class="paires">
            <img src="img/paires/6.jpg" alt="logo"/>
            <a class="lienref"><p>Chanel - Lunettes Pilote</p></a>
            <p class="prix">950&#128;</p>
          </div>
          <div class="paires">
            <img src="img/paires/7.jpg" alt="logo"/>
            <a class="lienref"><p>Chanel - Lunettes Masque</p></a>
            <p class="prix">149&#128;</p>
          </div>
          <div class="paires">
            <img src="img/paires/17.jpg" alt="logo"/>
            <a class="lienref"><p>Tom Ford - Alissa</p></a>
            <p class="prix">300&#128;</p>
          </div><div class="paires">
            <img src="img/paires/18.jpg" alt="logo"/>
            <a class="lienref"><p>Tom Ford - Karina</p></a>
            <p class="prix">300&#128;</p>
          </div>
          <div class="paires">
            <img src="img/paires/19.jpg" alt="logo"/>
            <a class="lienref"><p>Tom Ford - Ian</p></a>
            <p class="prix">405&#128;</p>
          </div>
          <div class="paires">
            <img src="img/paires/37.jpg" alt="logo"/>
            <a class="lienref"><p>Marc Jacobs - MARC67/S 05LLA</p></a>
            <p class="prix">69&#128;</p>
          </div>
          <div class="paires">
            <img src="img/paires/38.jpg" alt="logo"/>
            <a class="lienref"><p>Marc Jacobs - MARC162/S 086HA</p></a>
            <p class="prix">69&#128;</p>
          </div>
        </div>
      </div>
    </div>
  </body>

  <footer>
    <p> </p>
    <a id="admin" href="lesite.fr/admin" title="admin"><p>ADMIN</p></a>
  </footer>

</html>
