<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>Binokl'ART - Solaires</title>
    <link rel="stylesheet" type="text/css" media="screen" href="vueProduits.css" />
  </head>

  <header>
    <img src ="img/logo.png" aalt="logo"/>
    <h1>Binokl'ART</h1>
  </header>

  <body>
    <div id="container">

  <!-- code d'apparition d'une paire-->
      <div class="paires">
        <img src ="img/paires/44.png" aalt="logo"/>
        <a class="lienref"><p>La référence</p></a>
      </div>


    </div>
  </body>

  <footer>
    <a href="lesite.fr/optiques" title="optiques"><p>Optiques</p></a>
    <a href="lesite.fr/solaires" title="solaires"><p>Solaires</p></a>
  </footer>
</html>
